:root {
    .single-content {
        --content-spacing: 16px;
        --content-spacing-extra: 24px;
    }
}

.single-content {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: var(--clr-cnn-grey-4);
    padding: 0 112px;
    margin-bottom: var(--content-spacing-extra);

    h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
    }

    h3 {
        font-size: 19px;
    }

    h2, h3, h4, h5, h6 {
        margin: var(--content-spacing-extra) 0 var(--content-spacing) 0;
    }

    ul, ol {
        margin: var(--content-spacing-extra) 0;
        padding-left: 12px;
        list-style: none;
        position: relative;

        li {
            margin-bottom: var(--content-spacing);
        }
    }

    ul > li::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: var(--clr-cnn);
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
    }

    ol {
        counter-reset: list-counter;

        & > li {
            counter-increment: list-counter;

            &::before {
                content: counter(list-counter) ".";
                font-weight: 700;
                color: var(--clr-cnn);
                padding-right: 8px;
            }
        }
    }


    & > p {
        margin: var(--content-spacing) 0;
        line-height: 26px;
    }

    b, strong {
        font-weight: 500;
    }

    em {
        -webkit-text-stroke: 0.6px;
        text-stroke: .6px;
    }

    a {
        color: var(--clr-cnn);
        font-weight: 500;
        text-decoration: underline;
        transition: opacity .1s ease;

        &:hover {
            opacity: .8;
        }
    }

    .wp-caption {
        margin: var(--content-spacing-extra) 0;
    }

    .wp-caption,
    [class*="wp-image-"] {
        max-width: 100%;
        border-radius: 8px;
        height: inherit;
    }

    [class*="wp-image-"] {
        display: block;
    }

    .wp-caption-text {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        margin-top: 4px;
    }
}

/* -------------------------------------
   Mobile
------------------------------------- */
@media (max-width:991px) {
    .single-content {
        padding: initial;

        h2 {
            line-height: 28px;
        }
    }
}


/* -------------------------------------
   Imagem em fullscreen
------------------------------------- */
.site__content {
    .fullscreen-wrapper {
        position: relative;
        background-color: rgba(40 40 40 / 0%);
        transition: background-color .5s ease;

        .fullscreen-label {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .fullscreen-label__icon {
            background: url(../img/ico-full.svg) center center no-repeat;
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;
        }

        .fullscreen-img {
            background-color: rgba(12 12 12 / 0);
            transition: background-color 0.5s ease;
            min-width: 100%;
        }
    }

    .featured-image .fullscreen-img {
        display: none;
        visibility: hidden;
        content-visibility: hidden;
    }

    .fullscreen-checkbox {

        &:checked + .fullscreen-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            min-width: 100%;
            height: 100%;
            padding: 40px 64px 40px 40px;
            max-height: 100%;
            z-index: 99999;
            background-color: rgba(40 40 40 / 0.9);
            border-radius: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;

            .fullscreen-label {
                width: 100vw;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
            }

            .fullscreen-label__icon {
                background: url(../img/ico-exit.svg) center center no-repeat;
                position: absolute;
                top: 40px;
                right: 24px;
            }

            .fullscreen-img {
                flex: 1;
                background-color: rgba(12 12 12 / 1);
                width: 100%;
                max-width: 1000px;
                object-fit: contain;
                max-height: calc(100% - 156px);
                border-radius: 8px;
                display: block;
                visibility: visible;
                content-visibility: visible;
                aspect-ratio: 16/9;
            }

            .featured-image__img{
                display: none;
            }

			.wp-caption-text,
            .fullscreen-caption {
                font-weight: 500;
                color: #fff;
                padding: 16px 16px 24px;
                height: 156px;
                width: 100%;
                max-width: 1000px;
                overflow-y: auto;
                pointer-events: all;
                z-index: 1;

                /* Barra de scroll */
                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: var(--clr-cnn);
                    border-radius: 4px;
                    cursor: all-scroll;
                }

                &::-webkit-scrollbar-track {
                    border-radius: 4px;
                    background-color: var(--clr-cnn-grey-1);
                }
            }
        }
    }
}

@media (max-width:991px) {
    .site__content {
        .fullscreen-checkbox {
            &:checked + .fullscreen-wrapper {
                padding: 0;

                .fullscreen-label {
                    background-position-y:136px;
                    z-index: 1;
                }

                .fullscreen-label__icon {
                    top: 128px;
                }


                .fullscreen-img {
                    border-radius: 0;
                    height: auto;
                    flex: none;
                    margin-top: 112px;
                }

                .fullscreen-caption {
                    z-index: 1;
                    padding: 0 16px;
                    margin: var(--content-spacing) 0;
                    height: auto;
                    max-height: 124px;
                }
            }
        }
    }
}

/* Mobile no modo paisagem */
@media(max-width: 991px) and (orientation: landscape) {
    .site__content {
        .fullscreen-checkbox {
            &:checked + .fullscreen-wrapper {
                padding: 0;
                margin: 0;

                .fullscreen-label {
                    background-position-y:16px;
                }

                .fullscreen-img {
                    margin-top: 0;
                    min-height: 100%;
                }

                .fullscreen-caption {
                    position: absolute;
                    bottom: 0;
                    height: 152px;
                    overflow-y: auto;
                    background: linear-gradient(0deg, #000000 13.95%, rgba(0, 0, 0, 0) 81.3%);
                    padding: 16px;
                    margin: 0;
                    height: auto;
                    max-height: 152px;
                }
            }
        }
    }
}


/* -------------------------------------
   Embeds
------------------------------------- */
/* Stories */
.single-content {
    blockquote.wp-embedded-content {
        &+p iframe.wp-embedded-content {
            position: initial !important;
            width: 100%;
        }
    }
}

/* PDF's Embedados */
.single-content iframe[src*="/viewerng/viewer?url="] {
    width: 100%;
    height: 500px;
}
