footer {
    background-color: #fff;
    padding: 36px 0;
    overflow-x: hidden;
	content-visibility: auto;
}

footer.black {
    background: #0f0f0f;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.footer__top {
    display: grid;
    grid-template-columns: 66px 174px auto;
    grid-template-areas:
        "a b c"
        "a d c"
        "a e c"
        "a f c"
        "a g c";
    gap:0 40px;
}

.footer__logo {
    grid-area: a;
}

.footer__logo a{
    display: block;
    width: 66px;
    height: 66px;
}

.footer__logo img {
    width:66px;
    height:66px;
    padding: 0;
}

/* Footer Extra */
.footer__top span {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

footer.black .footer__top span {
    color:#fff;
}


.footer__top .footer__slug {
    margin:0;
    margin-bottom: 16px;
    grid-area: b;
    grid-row: 1 / 2;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    line-height: 20px;
}

.footer__live {
    display: block;
    border-top:1px #D0D0D0 solid;
    border-bottom:1px #D0D0D0 solid;
    padding: 19px 0 18px 0;
    padding-left: 34px;
    background: url(../img/live.svg) left center no-repeat;
    text-transform: uppercase;
    margin-bottom: 16px;
    grid-area: e;
    grid-row: 2 / 3;
}

footer.black .footer__live {
    background: url(../img/live-black.svg) left center no-repeat;
}

.footer__live span {
    margin: 0;
    padding: 0;
}

footer .footer__live:hover span {
    color: #CC0000;
}

.footer__menu_plus span {
    text-transform: uppercase;
    margin: 0;
}

.footer__menu_plus li a {
    font-size: 14px;
    line-height: 26px;
    display: block;
}

footer.black .footer__menu_plus li a {
    color:#fff;
}

.footer__menu_plus li a:hover {
    color:#CC0000;
    text-decoration: underline;
}

/* footer nav */
.footer__navigation {
    display: flex;
    flex:1;
    grid-area: c;
}

.footer__navigation__child {
    min-width: 100%;
}

.footer__navigation ul, .footer__main__link {
    margin: 0;
    padding: 0;
}

.footer__navigation ul.navigation__block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}

.footer__main__link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.footer__navigation ul.navigation__block a {
    font-size: 14px;
    line-height: 26px;
    color:#282828;
    display: block;
}

.footer__navigation ul.navigation__block h4 a {
    line-height: 24px;
}

footer .black .footer__navigation ul.navigation__block h4 a, footer.black .footer__navigation ul.navigation__block a {
    color:#fff;
}

.footer__navigation ul.navigation__block a:hover {
    color:#CC0000;
    text-decoration: underline;
}

footer.black .footer__navigation ul.navigation__block a:hover {
    color:#fff;
}


/* footer follow */
.social__footer {
    border-bottom: 1px #D0D0D0 solid;
    padding-bottom: 16px;
    margin-bottom: 16px;
    grid-area: f;
    grid-row: 3 / 4;
}
.social__footer span {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 16px;
}

.footer__follow__nav {
    display: flex;
    align-items: center;
}

.footer__follow__nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap:18px 24px;
}

.footer__follow__nav li a {
    width:23px;
    height:23px;
    display: block;
    overflow: hidden;
    text-indent: -999px;
    transition: opacity 0.25s ease 0s;
    background-size: initial;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer__follow__nav .twitter__social__media a { background-image: url(/wp-content/themes/master-theme/assets/img/social/twitter-black.svg); }
footer.black .footer__follow__nav .twitter__social__media a { background-image: url(/wp-content/themes/master-theme/assets/img/social/twitter-white.svg); }
footer .footer__follow__nav .twitter__social__media a:hover { background-image: url(/wp-content/themes/master-theme/assets/img/social/twitter-hover.svg); }

.footer__follow__nav .facebook__social__media a { background-image: url(/wp-content/themes/master-theme/assets/img/social/facebook-black.svg); }
footer.black .footer__follow__nav .facebook__social__media a { background-image: url(/wp-content/themes/master-theme/assets/img/social/facebook-white.svg); }
footer .footer__follow__nav .facebook__social__media a:hover { background-image: url(/wp-content/themes/master-theme/assets/img/social/facebook-hover.svg); }

.footer__follow__nav .youtube__social__media a { background-image: url(/wp-content/themes/master-theme/assets/img/social/youtube-black.svg); }
footer.black .footer__follow__nav .youtube__social__media a { background-image: url(/wp-content/themes/master-theme/assets/img/social/youtube-white.svg); }
footer .footer__follow__nav .youtube__social__media a:hover { background-image: url(/wp-content/themes/master-theme/assets/img/social/youtube-hover.svg); }

.footer__follow__nav .instagram__social__media a { background-image: url(/wp-content/themes/master-theme/assets/img/social/instagram-black.svg); }
footer.black .footer__follow__nav .instagram__social__media a { background-image: url(/wp-content/themes/master-theme/assets/img/social/instagram-white.svg); }
footer .footer__follow__nav .instagram__social__media a:hover { background-image: url(/wp-content/themes/master-theme/assets/img/social/instagram-hover.svg); }

.footer__follow__nav .linkedin__social__media a { background-image: url(/wp-content/themes/master-theme/assets/img/social/linkedin-black.svg); }
footer.black .footer__follow__nav .linkedin__social__media a { background-image: url(/wp-content/themes/master-theme/assets/img/social/linkedin-white.svg); }
footer .footer__follow__nav .linkedin__social__media a:hover { background-image: url(/wp-content/themes/master-theme/assets/img/social/linkedin-hover.svg); }

.footer__follow__nav .pinterest__social__media a { background-image: url(/wp-content/themes/master-theme/assets/img/social/pinterest-black.svg); }
footer.black .footer__follow__nav .pinterest__social__media a { background-image: url(/wp-content/themes/master-theme/assets/img/social/pinterest-white.svg); }
footer .footer__follow__nav .pinterest__social__media a:hover { background-image: url(/wp-content/themes/master-theme/assets/img/social/pinterest-hover.svg); }

.footer__follow__nav .tiktok__social__media a {background-image: url(/wp-content/themes/master-theme/assets/img/social/tiktok-black.svg);  }
footer.black .footer__follow__nav .tiktok__social__media a {background-image: url(/wp-content/themes/master-theme/assets/img/social/tiktok-white.svg);  }
footer .footer__follow__nav .tiktok__social__media a:hover {background-image: url(/wp-content/themes/master-theme/assets/img/social/tiktok-hover.svg);  }

.footer__follow__nav .whatsapp__social__media a {background-image: url(/wp-content/themes/master-theme/assets/img/social/whatsapp-black.svg);  }
footer.black .footer__follow__nav .whatsapp__social__media a {background-image: url(/wp-content/themes/master-theme/assets/img/social/whatsapp-white.svg);  }
footer .footer__follow__nav .whatsapp__social__media a:hover {background-image: url(/wp-content/themes/master-theme/assets/img/social/whatsapp-hover.svg);  }

/* Menu plus */
.footer__menu_plus {
    grid-area: g;
    grid-row: 4 / 5;
}

/* footer separator */
footer hr{
    margin: 8px 0 11px 0;
}

/* footer bottom */
.footer__bottom {
    position: relative;
    padding-top: 16px;
    margin-top: 32px;
}

.footer__bottom:before, .footer__bottom:after {
    content:'';
    width:100vw;
    height: 1px;
    display: block;
    background: #A81D1D;
    position: absolute;
    top: 0;
    left:50%;
    transform: translateX(-50%);
}

.footer__bottom:after {
    top: 2px;
}

.footer__bottom__nav ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 10px 0 14px 0;
    list-style: none;
}

.footer__bottom__nav a{
    color: #282828;
    font-size: 14px;
}

footer.black .footer__bottom__nav a {
    color:#fff;
}

.footer__bottom__nav a:hover{
    text-decoration: underline;
}

/* footer copyright */
.footer__copyright{
    color: #8C8C8C;
    font-size: 12px;
    padding-top: 6px;
    margin-top: 40px;
}

.footer__top {
    max-width: 1248px;
    margin: 0 auto;
}

/* poopup cookies */
#pop-gdpr a { color: #1890ff; }
#pop-gdpr a:hover { color: #40a9ff; }


/* RESPONSIVE */

@media (max-width: 991px)   {

    .footer__top {
        grid-template-columns: 72px auto;
        grid-template-areas:
        "a b"
        "e e"
        "c c"
        "g g"
        "f f";
        gap: 0 16px;
    }

    .footer__logo, .footer__top .footer__slug {
        grid-row: 1 / 2;
    }

    .footer__top .footer__slug {
        margin: 0;
        display: flex;
        align-items: center;
    }

    .footer__top .footer__top span {
        font-size: 16px;
    }

    .footer__live {
        margin-top: 40px;
        margin-bottom: 0;
    }

    .social__footer {
        grid-row: 5;
        margin-bottom: 0;
        border-bottom: 0;
        padding-bottom: 0;
    }

    .footer__menu_plus {
        margin-top: 24px;
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px #D0D0D0 solid;
    }

    .footer__menu_plus li a {
        font-size: 16px;
        line-height: 32px;
    }

    .footer__navigation ul.navigation__block {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        grid-gap: 0;
        overflow: hidden;
    }

    .footer__navigation ul.navigation__block a {
        font-size: 16px;
    }

    .footer__navigation ul.navigation__block .footer__main__link {
        padding: 0;
        position: relative;
        margin:0;
        font-size: 16px;
    }

    .footer__navigation ul.navigation__block .navigation__item {
        border-bottom: 1px #D0D0D0 solid;
        padding: 0;
        overflow: hidden;
    }

    .footer__navigation ul.navigation__block .navigation__item .footer__main__link {
        padding: 21px 0;
    }

    .footer__navigation ul.navigation__block .footer__main__link:before {
        content:'';
        display: block;
        width:16px;
        height:10px;
        position: absolute;
        right:8px;
        top:50%;
        transform: translateY(-50%);
        background: url(../img/down-footer.svg) center center no-repeat;
        background-size: contain;
    }

    .footer__navigation ul.navigation__block .navigation__item.active .footer__main__link:before {
        transform: translateY(-50%) rotate(180deg);
    }

    footer.black .footer__navigation ul.navigation__block .footer__main__link:before {
        background: url(../img/down-footer-black.svg) center center no-repeat;
    }

    .footer__navigation ul.navigation__block .navigation__subitem {
        visibility: hidden;
        margin-top: -8px;
        padding-bottom: 8px;
        max-height: 0;
        transition: max-height .3s linear, visibility .3s linear;
    }

    .footer__navigation ul.navigation__block .navigation__subitem a {
        line-height: 32px;
    }

    .footer__navigation .navigation__block .navigation__item.active .navigation__subitem {
        visibility: visible;
        max-height: 1000px;
        transition: max-height .5s linear, visibility .5s linear;
    }
    
    .footer__bottom__nav ul {
        flex-direction: column;
    }

    .footer__bottom__nav a {
        line-height: 32px;
        font-size: 16px;
    }

    .footer__copyright {
        margin-top: 32px;
        padding-top: 0;
    }

}

@media (max-width: 768px) {
    .footer__top {
        grid-template-areas:
        "a a"
        "b b"
        "e e"
        "c c"
        "g g"
        "f f";
    }

    .footer__logo {
        grid-row: 1 / 1;
    }

    .footer__top .footer__slug {
        grid-row: 2 / 2;
        margin-top: 16px;
    }

    .footer__top .footer__top h4 {
        grid-row: 2 / 2;
        margin-top: 16px;
    }

    .footer__live {
        grid-row:3 / 3;
        margin-top: 24px;
    }

    .footer__navigation {
        grid-row:4 / 4;
    }

    .footer__menu_plus {
        grid-row:5 / 5;
    }

    .social__footer {
        grid-row:6 / 6;
    }
}
