/* Geral */

.single .newsletter_block::before,
.single  .newsletter_block .section_title::after,
.single .newsletter_description img,
.single .newsletter_block:after,button.nwltButtonClose {
	display: none;
}

.single .newsletter_block .section_title {
    font-size: 18px;
    line-height: 22px;
    color: #464646;
    letter-spacing: 0.01em;
	margin-bottom: 16px !important;
    display: flex;
}

.single .newsletter_description {
    font-size: 14px;
    line-height: 20px;
    color: #8C8C8C;
}

.single #mc_embed_signup .button {
    width: 73px !important;
    height: 32px !important;
    background-color: #464646 !important;
    border-radius: 4px !important;
    padding: 0 !important;
    text-align: center !important;
	margin: 4px 4px 0 0 !important;
}

.single #mc_embed_signup input {
	border: none;
	box-shadow: 0px 2px 4px -2px rgb(0 0 0 / 12%), 0px 4px 4px -2px rgb(0 0 0 / 8%);
	background-color: #fafafa;
}

.single .newsletter_block .section_title::before {
	content: '';
	display: block;
	position: relative;
}
/* NewsLetters single */

.single .newsletter_block #mc_embed_signup .mc-field-group {
    margin: 0;
}


.single div.newsletter_block ul {
    margin: 24px 0 0;
    display: flex;
}

div.newsletter_block ul li {
    height: fit-content;
    margin-bottom: 40px;
}

.newsletter_block ul li:nth-child(2) {
    margin: 0 32px;
}

.single .newsletter_block .email_container {
    width: 278px;
    position: absolute;
    left: 0;
    bottom: -80px;
    right: -200px;
    height: 40px;
}

.single .newsletter_block .email_container span {
    display: block;
    width: 100%;
    height: fit-content;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #CC0000;
    position: relative;
    left: 294px;
    top: -38px;
}

.single .newsletter_block .content__gdpr {
    width: 100%;
    height: 18px;
}

.single .newsletter_block .section_title {
    border-bottom: 1px #CC0000 solid;
    position: relative;
    width: 100%;
}

.single .newsletter_block .section_title::after {
    content: '';
    height: 1px;
    background: #CC0000;
    display: block;
    margin-top: 4px;
    bottom: -5px;
    position: absolute;
    width: 100%;
}

.single .newsletter_block .section_title::before {
    display: none;
}

div.post__content .form__newsletter .newsletter_block .newsletter_description {
    width: 100%;
    margin: 0;
}

.single .newsletter_block #mc_embed_signup {
    margin-bottom: 104px;
    width: 100%;
    bottom: -44px;
    position: relative;
}

.newsletter_block .content__gdpr label>span {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.newsletter_block label {
    min-width: max-content;
}

@media (max-width: 768px) {
    .single .newsletter_block #mc_embed_signup {
        padding-top: 0;
    }

    .single .post__content .newsletter_block #mc_embed_signup {
        margin-bottom: 156px;
        padding-top: 0px;
        display: flex;
        bottom: 0;
    }

    .single .email_container:after {
        position: unset;
        margin-top: 16px;
    }
    .single .newsletter_block .email_container span {
        position: unset;
        margin: 16px 0 ;
    }
}
@media(max-width: 480px){
    .single div.newsletter_block ul {
        display: block;
    }
    .single .newsletter_block ul li:nth-child(2),
    .single .newsletter_block ul li {
        margin: 0 0px 24px 0;
    }
    .single .newsletter_block #mc_embed_signup {
        bottom: 0px;
    }
    .single .post__content .newsletter_block #mc_embed_signup {
        margin-bottom: 132px;
    }
    .single .post__content .form__newsletter .box.newsletter_block {
        padding-bottom: 24px;
    }
}

.single .newsletter_block .email_container .email_container_span--hidde {
    height: 0;
    text-indent: -99999px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    display: none;
}
/* Sidebar */

/* Padrão Solicitado na historia 1993 */

.post__sidebar .form__newsletter {
    display: none;
    margin-top: 64px;
}
/* ↑↑↑↑ */
.post__sidebar .form__newsletter .newsletter_block {
    padding: 24px 16px;
}

.post__sidebar .form__newsletter .newsletter_description {
    margin-bottom: 16px;
}

.post__sidebar .newsletter_block .section_title {
    display: block;
}
@media (min-width: 991px){
    .post__sidebar .newsletter_block .section_title{
        font-size: clamp(14px, 1vw, 14px);
    }
}

.post__sidebar .newsletter_block .section_title::before {
	width: 32px;
	height: 32px;
	background-image: url("../img/email.svg");
	float: left;
    margin: -5px 8px 0 0;
}

.post__sidebar .form__newsletter  #mc_embed_signup .mc-field-group {
	width: 100%;
} 
@media (max-width: 768px) {
    .post__sidebar .form__newsletter .newsletter_block {
        margin-top: 24px;
    }
}

/* Post Content */

.post__content .form__newsletter .box.newsletter_block {
    justify-content: space-between;
    display: flex;
	padding: 24px 0 48px 8px;
	box-shadow: none;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	background-color: transparent;
    display: block;
}

.post__content .form__newsletter .newsletter_block  .newsletter_description,
.container + .form__newsletter .newsletter_block  .newsletter_description {
	margin-left: 53px;
	line-height: 16px;
	margin-top: 24px;
    float: left;
    position: absolute;
	width: 50%;
    padding-right: 56px;
}

.post__content .form__newsletter #mc_embed_signup .mc-field-group input {
	width: 282px;
}

.post__content .form__newsletter .newsletter_block .section_title::before, 
.container + .form__newsletter .newsletter_block .section_title::before {
    width: 45px;
    height: 33px;
    background-repeat: no-repeat;
	background-image: url("wp-content/themes/master-theme/assets/img/email_post_content.svg");
    margin: 3px 8px 0 0;
}

@media (max-width: 768px) {
	.post__content .form__newsletter #mc_embed_signup .mc-field-group,
	.post__content .form__newsletter #mc_embed_signup .mc-field-group input {
		width: 100%;
	}

	.post__content .form__newsletter .box.newsletter_block {
		display: block;
		padding-bottom: 0;
	}

	.post__content .form__newsletter .newsletter_block .newsletter_description {
		position: unset;
		width: 100%;
		margin: 0 0 24px;
	}

	.post__content .form__newsletter .newsletter_block .section_title::before {
		margin-top: -3px;
		background-image: url("wp-content/themes/master-theme/assets/img/email.svg");
		width: 32px;
		height: 32px;
	}

    .post__content .newsletter_block .section_title {
        padding-bottom: 8px;
    }

	.post__content .newsletter_block #mc_embed_signup {
		padding-top: 56px;
	}
} 

/* Footer */

.container + .form__newsletter {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0; 
	background-color: #fff;
    display: block;
    transition: opacity .5s;
}

.container + .form__newsletter .box.newsletter_block {
    justify-content: space-between;
    display: flex;
    box-shadow: none;
    margin: 0 auto;
    padding: 16px;
    max-width: 1280px;
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
}

.container + .form__newsletter #mc_embed_signup .mc-field-group input {
	width: 462px;
}

button.nwltButtonClose {
    position: absolute;
    right: -40px;
    top: 8px;
    border: none;
    background-color: unset;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    background-image: url("../img/nwltClose.svg");
    right: 16px;
    transform: translateY(70%);
    -webkit-transform: translateY(70%);
    -moz-transform: translateY(70%);
    -ms-transform: translateY(70%);
    -o-transform: translateY(70%);
}

.container + .form__newsletter .newsletter_block .newsletter_description {
    padding-right: 88px;
}

@media(max-width: 768px) {
    .container + .form__newsletter {
        display: none;
    }
}

/* Css Default Do NewsLetter De Eleições */

.newsletter_block {
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.12), 0px 4px 4px -2px rgba(0, 0, 0, 0.08);
    display: table;
    width: 100%;
    padding: 32px 24px;
    margin-bottom: 40px;
    background: #fff;
    border-radius: 5px;
}

.newsletter_block {
    position: relative;
} 

.newsletter_block > button {
    width: 32px;
    height: 32px;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: -16px;
    left: 19px;
    z-index: 40;
    border: 0;
}

.newsletter_block:before {
    content:'';
    width:22px;
    height: 22px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left:24px;
    top:-11px;
    background: #c00;
    animation-name: zoom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.newsletter_block #mc_embed_signup form, .newsletter_block #mc_embed_signup div#mce-responses, .newsletter_block #mc_embed_signup div.response {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.container + .form__newsletter #mc_embed_signup form{
    left: -32px;
}
.newsletter_block:after {
    content:'1';
    width:22px;
    height: 22px;
    text-align: center;
    color:#fff;
    line-height: 22px;
    position: absolute;
    left:24px;
    top:-11px;
    z-index: 1;
}

.newsletter_block .section_title {
    margin: 0 0 24px 0 !important;
}

.newsletter_block .section_title:after {
    content: '';
    width: 34px;
    height: 4px;
    background: #c00;
    display: block;
    margin-top: 4px;
}

.newsletter_block .newsletter_description img{
    margin-right: 10px;
}
.newsletter_block form {
    position: relative;
    width:100%;
    display: block;
}

.newsletter_block input {
    width:100%;
    border:1px #D0D0D0 solid;
    border-radius: 4px;
    height:40px;
    font-size:14px;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'CNN Sans Condensed';
    outline: none;
}

.newsletter_block #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    display: none !important;
}

.newsletter_block input::placeholder {
    color: #D0D0D0;
}

.newsletter_block input[type="submit"] {
    width:85px;
    height:100%;
    position: absolute;
    right:0;
    top:0;
    background: #c00 !important;
    color:#fff;
    border-radius: 0 5px 5px 0 !important;
    border:0;
    font-family: 'CNN Sans Condensed Bold', sans-serif;
    font-size:14px;
    height:40px !important;
    margin:0 !important;
    display: block !important;
    transition: .3s;
}
.newsletter_block input[type="submit"]:hover{
    background-color: #222 !important;
}


/* Copy Sidebar */
.newsletter_block input[type="checkbox"] {
    width:16px !important;
    height:16px !important;
    min-height: 16px;
    min-width: 16px;
}

.newsletter_block ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.newsletter_block .newsletter_description, .newsletter_block label {
    font-size: 16px;
    line-height: 18px;
    color: #464646;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 24px;
}

.newsletter_block label {
    margin: 0;
}

.newsletter_block form {
    padding: 0 !important;
}

.newsletter_block ul li {
    margin-bottom: 23px;
    display: flex;
    gap:8px
}

.newsletter_block .button {
    width: 73px !important;
    height: 32px !important;
    background-color: #464646 !important;
    border-radius: 4px !important;
    padding: 0 !important;
    text-align: center !important;
	margin: 4px 4px 0 0 !important;
    position: absolute;
    right:0;
    bottom:8px;
}

.newsletter_block input[type="email"] {
	border: 0 !important;
    width:100%;
    border-bottom: 1px #D0D0D0 solid !important;
    background: transparent;
    font-size: 16px;
    line-height: 22px;
    color: #464646;
    font-weight: 500;
    outline: none !important;
}

.newsletter_block input[type="email"].mce_inline_error {
    border:1px red solid !important
}

.newsletter_block input[type="email"]::placeholder {
    color:#D0D0D0;
}

.newsletter_block .email_container {
    position: relative;
}

.newsletter_block fieldset {
    border: 0;
    padding: 0;
    margin:0;
    margin-top: 24px;
    width:100%;
}

.newsletter_block fieldset a {
    text-decoration: underline;
}

.newsletter_block .content__gdpr label {
    display: flex !important;
    align-items: flex-start;
    gap: 8px;
}

.newsletter_block div.mce_inline_error {
    display: none !important;
}

.newsletter_block #mc_embed_signup div#mce-responses {
    padding: 0 !important;
    width: 100% !important;
    margin: 0 !important;
}

#mc_embed_signup #mce-success-response {
    margin: 0 !important;
}

.newsletter_block .cnn-response {
    clear: both;
}

.newsletter_block .cnn-response div {
    display: block;
    border: 1px #ffd535 solid;
    padding: 10px;
    font-family: 'CNN Sans Display';
    text-align: center;
    background: #feffea;
    border-radius: 4px;
    font-size: 14px;
}

@media(max-width: 768px) {
    .newsletter_block .newsletter_description {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #8C8C8C;
        margin: 0;
    }
}