.widget__title {
	margin-top: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	display: flex;
	color: #262626;
	align-items: center;
	font-style: normal;
	position: relative;
}

.widget__title svg, .widget__title img {
	stroke: #a81d1d;
	margin: 0 8px;
}

.sidebar__item--ad {
	width: 300px;
	height: auto;
	margin-top: 35px;
}

.sidebar__item--ad-faq {
	margin: 140px auto 0 auto;
	width: 970px;
	min-height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.single .post__sidebar {
	padding-bottom: 48px;
}

@media (max-width: 1180px) and (min-width: 991px) {
	.sidebar__item--ad {
			width: 100%;
	}
}

@media (max-width: 991px) {
	.post__sidebar.col__sidebar {
			width: 100vw;
			background-color: #fff;
			border-top: 1px solid #E6E6E6;
			padding: 32px 16px 30px 16px;
			margin: 0 8px 0 -16px;
	}

	.market__row .post__sidebar.col__sidebar {
			padding: 32px 0;
			margin: 0;
			align-self: center;
	}

	.widget__title {
			margin-top: 0;
	}

	.sidebar__item--ad-faq,
	.sidebar__item--ad {
			display: none;
	}

	.most__read__title {
			line-height: 16px;
	}

	.most__read__item::before {
			line-height: 16px;
			text-align: center;
	}

	.latest__news .post__sidebar.col__sidebar {
			display: none;
	}
}

/* webstories */
.newWebStory {
	margin-top: 40px;
	z-index: 1000;
	font-family: "CNN Sans Display";
	padding-right: 15px;
}

.newWebStory svg {
	margin-left: 5px;
}

.newWebStory h2 {
	color: #C00;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	padding: 0;
}

.newWebStory a {
	color: #0C0C0C;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px !important;
}

.newWebStory a:hover {
	color: #C00;
}

.newWebStory hr:first-child {
	display: none;
}

.newWebStory hr {
	margin: 16px 0;
	border-top: #D0D0D0 0.5px solid;
	border-bottom: none;
}

.newWebStory .square {
	width: 8px;
	height: 8px;
	background-color: #C00;
	display: inline-block;
	margin-left: 8px;
}

.newWebStory ul {
	padding: 0;
	margin: 0;
}

.newWebStory__item {
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 15px;
	justify-content: space-between;
	align-items: center !important;
}

.newWebStory__item img {
	object-fit: cover;
	border-radius: 2px;
}

@media (min-width: 1024px) {
	.newWebStory__img-container {
		width: 101px;
	}
}

.newWebStory__img-container {
	position: relative;
	flex-shrink: 0;
}

.newWebStory__number {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #C00;
	color: white;
	text-align: center;
	width: 24px;
	height: 12px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	border-radius: 2px;
}

@media (min-width: 768px) and (max-width: 1023px) {
	.newWebStory {
		padding-right: 20px;
	}
	.newWebStory a {
		font-size: 16px;
	}
}

@media (max-width: 622px) {
	.newWebStory img {
		width: 152px;
		height: 134px;
	}
}

@media (min-width: 623px) and (max-width: 1023px) {
	.newWebStory img {
		width: 200px;
		height: 180px !important;
	}
}

@media (min-width: 1024px) {
	.newWebStory img {
		width: 101px;
		height: 82px;
	}
}

@media (max-width: 1023px) {
	.newWebStory a {
		font-size: 16px;
	}

	.newWebStory__line {
		padding-right: 0;
		border-top: #D0D0D0 1px solid;
	}
}

.newWebStory__item {
    position: relative;
}

/* Popup Webstories */
/* Estilos para o modal */
.webstories__modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 99999999999999;
}

.webstories__modal iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.webstories__close {
    top: 30px;
    z-index: 2;
    right: 30px;
    width: 50px;
    height: 50px;
    border: none;
    color: #fff;
    font-size: 42px;
    cursor: pointer;
    font-weight: 100;
    position: absolute;
    background: transparent;
    text-shadow: 0px 0px 4px black;
}
/* Fim WebStories */

/* Newslatter Sidebar */
.newNewsletter::after {
	top: -25px;
	content: "";
	left: 22px;
	width: 46px;
	height: 46px;
	position: absolute;
	background-image: url("../img/news-icon.svg");
}

.newNewsletter {
	position: relative;
	background-color: rgba(230, 230, 230, 0.3);
	border-radius: 4px;
	border: 1px solid rgba(140, 140, 140, 0.3);
	font-family: "CNN Sans Display";
	padding: 40px 22px;
	margin-top: 76px;
}

.newNewsletter h2 {
	padding: 0;
	margin: 0;
}

.newNewsletter .block__title--home {
	display: none;
}

.newNewsletter .block__card {
	padding: 0;
	margin: 0;
	border: 0;
}

.newNewsletter .container {
	padding: 0;
	margin: 0;
}

.newNewsletter .block__news__title--sidebar {
	color: var(--CNN-CNN, #C00);
	font-size: 24px;
	font-weight: 300;
	line-height: 32px;
}

.newNewsletter p {
	color: var(--CNN-Grey-5, #0C0C0C);
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.newNewsletter input::placeholder {
	color: #D0D0D0;
}

.newNewsletter label::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #D0D0D0;
	margin-top: 16px;
}

.newNewsletter label:last-of-type::after {
	content: none;
}

.block__newsletter__label {
	display: block;
	cursor: pointer;
	font-size: 18px;
	font-weight: 300;
	line-height: 18px;
	border-radius: 4px;
	padding-top: 12px;
	position: relative;
	background-color: var(--clr-cnn-grey-0);
}

.block__newsletter__label + .block__newsletter__label {
	margin-top: 16px;
}

.block__newsletter_desc {
	height: 0;
	margin: 0;
	font-size: 0;
	display: block;
	position: static;
	line-height: 19px;
	transition: .3s ease;
}

.block__newsletter_desc.active {
	height: auto;
	font-size: 15px;
	line-height: 19px;
	margin: 16px 0 12px;
}

.block__newsletter_desc::before {
	top: 13px;
	content: "";
	right: 0;
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	border-radius: 3px;
	transition: .3s ease;
	transform: rotate(0deg);
	background-image: url("../img/arrow-news.svg");
}

.block__newsletter_desc.active::before {
	transform: rotate(180deg);
}

.block__newsletter__checkbox {
	cursor: pointer;
}

.block__newsletter__input {
	width: 100%;
	height: 49px;
	padding: 8px;
	margin: 24px 0 0;
	border-radius: 2px;
	background-color: #fff !important;
	box-shadow: none !important;
	color: #464646;
}

.single #mc_embed_signup input {
	border: 1px solid rgba(140, 140, 140, 0.3);
}

.block__newsletter__button {
	border: 0;
	width: 38px;
	height: 34px;
	float: right;
	font-size: 0;
	margin-top: -42px;
	margin-right: 9px;
	position: relative;
	background-color: #C00;
}

.block__newsletter__button::after {
	filter: none !important;
	content: url("../img/arrow-news-send.svg");
}

.block__newsletter__messages div {
	display: none;
	margin: 8px 0 16px;
	color: var(--clr-cnn);
}

.block__newsletter__messages #mce-responses {
	display: block;
}

.block__newsletter__messages #mce-success-response {
	color: #529214;
}

.block__newsletter__terms {
	font-size: 14px;
	line-height: 18px;
	color: var(--clr-cnn-grey-3);
}

.block__newsletter__terms a {
	text-decoration: underline;
}
