.read-too {
    margin: 24px 0;
    padding: 16px 0;
    border-top: 1px solid var(--clr-cnn-placeholder);
    border-bottom: 1px solid var(--clr-cnn-placeholder);
    
    .read-too__title {
        color: var(--clr-cnn);
        line-height: 18px;
        font-size: 18px;
        margin: 0 0 16px 0;
        font-weight: 700;
        display: inline-flex;
        align-items: flex-end;
    
        &::after {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            background-color: var(--clr-cnn);
            margin-bottom: 3px;
            margin-left: 8px;
        }
    }
    
    .read-too__list {
        display: flex;
        gap: 16px;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }
    
    .read-too__list-item {
        margin-bottom: 0;
        position: relative;
        max-width: 196px;
        overflow: hidden;
    
        &::before {
            content: '';
            width: 24px;
            height: 12px;
            border-radius: 2px;
            background-color: var(--clr-cnn);
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            z-index: 1;
            pointer-events: none;
        }
    }

    .read-too__link {
        text-decoration: none;
        color: var(--clr-cnn-grey-4);
        display: flex;
        flex-direction: column;
        gap: 8px;

        .read-too__picture {
            overflow: hidden;
            height: 108px;
            flex-shrink: 0;
        }
        
        &:hover {
            opacity: 1;
            text-decoration: underline;
            
            & .read-too__img {
                transform: scale(1.1);
            }
        }
    }

    .read-too__post-title {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
    .read-too__img {
        border-radius: 2px;
        width: 196px;
        height: 108px;
        object-fit: cover;
        display: inline-block;
        margin: 0;
        transition: transform .5s ease;
    }
}

.read-too--only-text {
    .read-too__list {
        flex-direction: column;
    }

    .read-too__list-item {
        list-style: initial;
        max-width: unset;
        overflow: unset;
        color: #c00;
        margin-left: 20px;
        
        &::before {
            display: none;
        }
    }
    
    .read-too__list-item::marker {
        font-size: 1.3em;
        line-height: 10px;
    }

    .read-too__post-title {
        font-size: 16px;
        color: #4D4D4D;
    }
}

@media (max-width: 991px) {
    .read-too {
        padding: 24px 0;

        .read-too__title {
            margin-bottom: 24px;
        }
    
        .read-too__list {
            flex-direction: column;
        }

        .read-too__list-item {
            max-width: inherit;
        }

        .read-too__link {
            flex-direction: row;
            align-items: center;
            gap: 16px;
        }

        .read-too__link .read-too__picture {
            height: 80px;
        }

        .read-too__img {
            width: 100px;
            height: 80px;
            min-width: 100px;
            min-height: 80px;
        }
    }
    .read-too--only-text {
        .read-too__list-item {
            margin-left: 24px;
        }
    }
}

/* admin */
#tinymce .wpview {
    .read-too {
        display: flex;
        justify-content: center;
        background-color: var(--clr-cnn-white-1);
        margin: 0;

        .read-too__list {
            max-width: 800px;
            padding-left: 0;
            pointer-events: none;
        }

        .read-too__list-item::before {
            margin: 0;
        }

        .read-too__post-title {
            font-size: 14px;
            line-height: 20px;
        }
    }
}
