
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/*Comando Geral*/
*{
    padding:0 ;
    margin: 0;
}
/*
#f2d16d amarelo-claro
#f2bb13 amarelo-escuro 
#442f72 roxo
#a56da6 lilas 
#f2c2dc rosa-claro
*/
/*Variaveis para cores e fonte*/
:root{
    --amarelo-claro:#f2d16d;
    --amarelo-escuro:#f2bb13;
    --roxo:#442f72;
    --lilas:#a56da6;
    --rosa-claro:#f2c2dc;

    --fonte-padrao: "Open Sans", sans-serif;
    --fonte-titulos: "Merriweather", serif;
    --fonte-logo: "Great Vibes", cursive;
}
body{
    background-color:white;
    overflow-x: hidden!important;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding:  0 40px; */
    background-color: var(--roxo);
    box-shadow: 0px 0px 5px black;
    width: 100%;
    height: 150px;
    
}    
/*Cabeçalho*/
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:column;
    padding: 1.5rem 5rem;   
}
/*Parte superior do cabeçalho*/
.nav-superior{
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 25px;
    gap: 180px;
}
/*Linha do header*/
hr{
    position: relative; 
    right: 150px;
    border-color:#cccccc66    ;
    width: 830px;
}
/*Parte infeior do cabeçalho*/
.nav-inferior{
    margin-left: -183px !important;
    display: flex;
    align-self: center;
    justify-content: center;
}
/*Logo*/
.logo{
    width: 90px;
    align-self: center;
}
/*Link logo*/
.logo-header a { 
    display: flex;
    flex-direction: column;
    padding-right: 115px;
    text-decoration: none;
    /* margin-right: 80px; */
}
/*Texto da logo*/
.logo-header a h1{
    color: #fff;
    font-family: var(--fonte-logo);
    font-size: xx-large;
    font-weight: 100;
}
/*Menu de navegação*/
.nav-list{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 125px;

}
/*listas não ordenada do menu de navegação*/
.nav-link:hover{
    border-top: 2px solid var(--lilas);
    padding-top: 20.5px;
}
/*Menu de navegação horizontal*/ 
.navigator{
   display: flex;
   justify-content: center;
   list-style: none;
}
/*Itens do menu de navegação*/
.nav-item{
    margin: 0px 30px;
    cursor: pointer;
}
/*links do menu de navegação*/
.nav-link{
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: 400;
}
/*Execução de quando passar o mouse no menu de navegação*/

/*Botão de entrar*/
.btn-entrar button{
    border: none;
    background-color: #f2bb13;
    padding:6px 15px;
    border-radius:6px; 
    cursor: pointer;  
}
/*Botão de cadatrar-se*/
.btn-cadastrar-se button{
    border: none;
    background-color: #f2bb13;
    padding: 6px 15px;
    border-radius:6px;
    cursor: pointer;
}
/*Botões do header*/
.btn-menu{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: -150px; /*mover os botoes do header */
}
/*Link dos botões*/
.btn-link{
    text-decoration: none;
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: bold;
}
.btn-carrinho{
    cursor: pointer;
}
/*Caixa de pesquisar*/
.busca{
    display: flex;
    align-items: center;
    border: 1px solid #ccc ;
    background-color: #ccc;
    width: 400px;
    height: 25px;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
}
/*Texto da área de pesquisar*/
#txt-busca{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}
.mobile-menu {
    display: none;
    cursor: pointer;

}
.mobile-menu div {
    width: 25px;
    height: 3px;
    background: #ccc;
    margin: 6px;
    transition: 0.3s;
}
/*Tela responsiva para laptop e tablets maiores*/
/* @media screen and (max-width: 1260px) {
    .btn-cadastrar-se button{
    padding: 10px 20px; 
    }
    .busca{
        width: 400px;
        
    }
} */
/*Tela responsiva para tablet*/
/* @media screen and (max-width: 1050px) {
    header{
        width: 100%;
        height: 12vh;    
    }
    .nav-inferior{
        display: none;
    }
    .busca{
        width: 200px;
    }
    .btn-cadastrar-se button{
        padding: 10px 20px;
    }
    .btn-entrar button{
        padding: 10px 15px;
    }
} */
/*Tela resposiva para mobile*/
@media screen and (max-width: 768px) {
    .btn-sla, .linha, .texto-logo, .btn-cadastrar-se, .btn-entrar{ 
        display: none;
    }
    header{
        width: 100%;
        height: 15vh;
        padding: 0px;
        display: flex;
        align-items:  normal;
        justify-content:space-between;
        /* overflow: hidden; */
    }
    body{
        overflow-x: ;
    }
    .logo-header{
        display: flex;
        align-items: center;
    }
    .nav-superior{
        gap: 0;
    }
    .logo-header a{
        padding: 0;
    }
    .logo{
        width: 60px;
    }
    .btn-menu{
        margin: 0px 10px;
    }
    .navigator{
        /* display: none; */
        position: absolute;
        top: 15vh;
        right: 0px;
        width: 50vw;
        height: 85vh;
        background: var(--roxo);  
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        transform: translate(100%);
        transition: transform 0.3s ease-in;
        
        
    }
    .nav-bar{
        padding: 24px 0px;
    }
    .busca{
        width: 100%;
        height: 20px;
        /* margin: 0px 10px; */
    }
    
    .navigator li{
        margin-right: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
    main{
        min-height:2500px;
    }
    .top-footer{
        flex-direction: column;
    }
    .font-newsletter{
       margin: 0px !important;
       margin-bottom: 5px !important;
    }
    .info-footer{
        flex-direction: column;
        align-items: center;
    }
    .menu-itens-superior{
        gap: 50px !important;
    }
    
}
.navigator.active {
    transform: translateX(0);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-3.5px, -5px);
}
/*Carrossel*/
section.slider{
    margin: 0 auto;
    padding: 0 !important;
    margin-bottom: 30px;
    /* width: 1150px; */
    width: 96%;
    height: auto;
    /* overflow: hidden; */
}
.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider input, .img-mobile{
    display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide-box img{
    width: 90%;
}
/*Botões radios em baixo do carrossel*/
.nav-manual, .nav-auto{
    position: absolute;
    width: 85%;
    margin-top: 27%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid var(--lilas);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background-color: var(--lilas);
}
#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: var(--lilas);
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
/*Estilização da main*/
main{
    background-color:  #F6F4F0;
    min-width: 200px;
    max-width: 1350px;
    margin: auto; 
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
} 
/* Carrosel  */
.slider-content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    gap: 1rem;
    padding: 0px;
    margin: 0;
}
.container-imagem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
}
.img-desktop{
    opacity: 0;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    border: 1px solid black;
    
}
.on{
    opacity: 1;
}
#next-button, #prev-button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#prev-button img, #next-button img{
    width: 100%;
    height: 100%;
}
#prev-button{
    transform: rotate(180deg);
}


/* formatacao */
#promocao-titulo{
    clear: both;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    border-bottom: 1px solid gray;
}
/*Area da Main*/
.area-produtos-categoria {
    height: 330px;
    display: flex;
    margin: 0px 40px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* Tamanho da imagem */
.imagem-promocao a{
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    width: 220px;
    height: 175px;
    display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.imagem-promocao:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
/* espaçamento entre os produtos em promoção */
.produto-promocao{
    margin: 0px;
}
/* area das informacoes dos produtos */
.area-info-produtos {
    margin: 0;
    background: rgb(204, 204, 204);
    width: 193.97px;
    height: 110px;
    border-radius: 0 0 10px 10px;
    padding: 10px 13px;
}
/* formatacao das imagens dos produtos em promocao */
.imagem-promocao a .img-promocao{
   border-radius: 10px 10px 0 0;
   
   display: flex;
   align-items: center;
   justify-content: center;
   
}
/* formatacao da area do titulo da empresa area de promocao */
.text-promocao {
    color: #747474;
    font-size: 9px;
    float: left;
    font-family: 'Open Sans', sans-serif;
}
/* Formatação do paragrado p de dataPromocao*/
.data-promocao p{
    float: right;
    padding: 0;
    margin: 4px;
    font-size: 13px;
}
/* Formataco do titulo da area de informacoes dos produtos */
.Titulo-Promocoes{
    float: left;
    font-size: 13px ;
    font-family: var(--fonte-titulos);
}
/* Formatacao do titulo da area de promocoes */
.Titulo-Promocoes p{
    color: black;
    margin: 0;
    text-transform: uppercase;
    width: 80%;
    font-weight: bold;
}
.preco-promocao{
    padding-top: 10px;
    float: left;
    width: 50%;
}
.Promocao-comprar{
    float: right;
    padding-top: 4px;   
}
.titulos{
    color: #403E3B;
    font-weight: 500;
    padding : 50px;
    margin: 0;
    text-align: center;
    clear: both;
    text-align: center;
   
    
    
}
.Promocao-comprar button{
    margin-right: 1.1px;
    margin-top: 9px;
    width: 40px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(139, 226, 8);
    font-size: 18px;
}
/* Usei hover pra quando passar o mouse nos botoes mudar o fundo e o estilo do mouse */
.Promocao-comprar button:hover{
    background-color: aquamarine;
    cursor: pointer;
}
.Promocao-comprar button a{ 
    text-decoration: none;
}
/* area do footer */
:root{
    /* --------- CORES --------- */
     --color-neutral: black;
     --color-font-newsletter: #8888;
     --color-neutral-10: #ffff;
     --color-top-footer: #f6f6f6;
     --color-neutral-20: #d9d9d9;
     --color-body: #F9FBFF;
 
 
 }
 
 

 .top-footer{
     align-items: center;
     background: #747474;
     display: flex;
     /* flex-direction: row; */
     /* gap: 10rem; */
     justify-content: center;
     padding: 0.5rem;
 }
 
 .font-newsletter{
     color: white;
     font-size: 15px;
     margin-right:150px;
 }
 
 .newsLetter{
     background: var(--color-neutral-20);
     border-radius: 6px;
     border: none;
     color: var(--color-neutral);
     padding: 0.4rem;
 }
 
 .btn-form{
     background-color: var(--color-neutral);
     border: none;
     border-radius: 6px;
     color: white;
     cursor: pointer;
     display: inline-block;
     font-size: 15px;
     padding: 0.4rem;
     text-decoration: none;
 }
 
 /* ------------- INFORMAÇÕES DO SITE -------------  */
 ul{
     list-style: none;
 }
 
 .info-footer{
     background: #442f72;
      display: flex;
     /* flex-direction: row; */
     justify-content: space-around;
     gap: 5rem;
     padding: 2rem 0 3rem;
     width: 100%; 
     color: #ccc;
 }
 
 .info-menu{
     color: #aca8a8;
     margin-top: 5%;
 }
 .menu-itens-superior{
    display: flex;
    gap: 200px;
 }
 
 .info-menu:hover{
     cursor: pointer;
     text-decoration: underline;
 }
 
 .info-menu li{
     font-size: 1.5rem;
     margin-top: 5%;
     
     
 }
 
 .payment-methods{
     display: flex;
     flex-wrap:wrap;
     gap: 1rem;
     margin-top: 4%;
 }
 .info-cards:hover{
     cursor: pointer;
 }
 
 
 #cards{
     width:4rem;
 }
 
 #pix{
     width: 2rem;
     height: 2rem;
 }
 #boleto{
     width: 2rem;
     height: 2rem;
 }
 #mastercard{
     width: 2.3rem;
     margin-top: 4%;
 }
 

 .footer-bottom{
     
     background: #747474;
     text-align: center;
     padding: 0.5rem;
 }

.label{
    background-color: #403E3B;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    margin: 0px;
    padding: 5px;
    height: 13px;
    width: 38px;
}

.label .ball{
    background-color: white;
    border-radius: 50%;
    position:absolute;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox{
    opacity: 0;
    position:absolute;
}
.checkbox:checked + .label .ball{
    transform: translateX(25px);
}

.fa-moon{
    color: #f1c407;
}
.fa-sun{
    color: var(--color-review);
}


.dark-theme{
   background: url(Imagens/backgroundark.png);
   
}
.dark-theme main{
   background-color: #3e3d41;
}
.dark-theme .titulos{
    color: white;
}
