
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding:0 ;
    margin: 0;
}

/*
#f2d16d amarelo-claro
#f2bb13 amarelo-escuro 
#442f72 roxo
#a56da6 lilas 
#f2c2dc rosa-claro
*/
:root{
    --amarelo-claro:#f2d16d;
    --amarelo-escuro:#f2bb13;
    --roxo:#442f72;
    --lilas:#a56da6;
    --rosa-claro:#f2c2dc;

    --fonte-padrao: "Open Sans", sans-serif;
}
body{
    background-color:white;
}
header{
    background-color: var(--roxo);
    box-shadow: 0px px 2px ;
    width: 100%;
    height: 19vh;
}    
/*Cabeçalho*/
.nav-bar{
    display: flex;
    flex-direction:column ;
    padding: 1.5rem 6rem;
}
/*Parte superior do cabeçalho*/
.nav-superior{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
/*Parte infeior do cabeçalho*/
.nav-inferior{
    display: flex;
    align-self: center;
}
/*Logo*/
.logo{ 
    color: white;
    display: flex;
    align-items: center;
    font-size: 2rem;

}
/*Menu de navegação*/
.nav-list{
    display: flex;
    align-items: center;
}
/*listas não ordenada do menu de navegação*/
.nav-list ul{
   display: flex;
   justify-content: center;
   list-style: none; 
}
/*Itens do menu de navegação*/
.nav-item{
    margin: 30px;
}
/*links do menu de navegação*/
.nav-link{
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: 400;
}
/*Execução de quando passar o mouse no menu de navegação*/
.nav-link:hover{
    border-top: 2px solid var(--cinza);
    padding-top: 15px;
}
/*Botão de entrar*/
.btn-entrar button{
    border: none;
    background-color: #f2bb13;
    padding: 10px 40px;
    border-radius:20px;   
}
.btn-cadastrar-se button{
    border: none;
    background-color: #f2bb13;
    padding: 10px 60px;
    border-radius:20px;
 
}
.btn-link{
    text-decoration: none;
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: 600;
}
/*Caixa de pesquisar*/
.busca{
    display: flex;
    align-items: center;
    border: 1px solid #ccc ;
    background-color: #ccc;
    width: 450px;
    height: 30px;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
}
/*Texto da área de pesquisar*/
#txt-busca{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}
/*Estilização da main*/
main{
    background-color:  #F6F4F0;
    /* background-color:  #f6e5c3; */
    min-width: 200px;
    max-width: 1250px;
    min-height: 1000px;
    margin: auto;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}   
/*Area da Main*/
#area-promocoes {
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Tamanho da imagem */
.imagem-promocao {
    height: 170px;
}
/* espaçamento entre os produtos em promoção */
.produto-promocao{
    padding: 20px;
}
/* area das informacoes dos produtos */
.area-info-produtos {
    margin: 0;
    background: rgb(241, 241, 241);
    width: 193.97px;
    height: 110px;
    border-radius: 0 0 10px 10px;
    padding: 10px 13px;
}
/* formatacao das imagens dos produtos em promocao */
.img-promocao{
    border-radius: 10px 10px 0 0;
   width: 220px;
   height: 175px;
}
/* formatacao da area do titulo da empresa area de promocao */
.text-promocao {
    color: #747474;
    font-size: 9px;
    float: left;
    font-family: 'Open Sans', sans-serif;
}
/* Formatação do paragrado p de dataPromocao*/
.data-promocao p{
    float: right;
    padding: 0;
    margin: 4px;
    font-size: 13px;
}
/* Formataco do titulo da area de informacoes dos produtos */
.Titulo-Promocoes{
    float: left;
    font-size: 13px ;
    font-family: 'Merriweather', serif;
}
/* Formatacao do titulo da area de promocoes */
.Titulo-Promocoes p{
    color: black;
    margin: 0;
    text-transform: uppercase;
    width: 80%;
    font-weight: bold;
}
.preco-promocao{
    padding-top: 10px;
    float: left;
    width: 50%;
}
.Promocao-comprar{
    float: right;
    padding-top: 4px;   
}
#promocao-titulo{
    font-size: 40px;
    padding : 15px;
    margin: 0;
    text-align: center;
}
.Promocao-comprar button{
    margin-right: 1.1px;
    margin-top: 9px;
    width: 40px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(139, 226, 8);
    font-size: 18px;
}
/* Usei hover pra quando passar o mouse nos botoes mudar o fundo e o estilo do mouse */
.Promocao-comprar button:hover{
    background-color: aquamarine;
    cursor: pointer;
}
.Promocao-comprar button a{ 
    text-decoration: none;
}