
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*Comando Geral*/
*{
    padding:0 ;
    margin: 0;
}
/*
#f2d16d amarelo-claro
#f2bb13 amarelo-escuro 
#442f72 roxo
#a56da6 lilas 
#f2c2dc rosa-claro
*/
/*Variaveis para cores e fonte*/
:root{
    --amarelo-claro:#f2d16d;
    --amarelo-escuro:#f2bb13;
    --roxo:#442f72;
    --lilas:#a56da6;
    --rosa-claro:#f2c2dc;

    --fonte-padrao: "Open Sans", sans-serif;
}
body{
    background-color:white;
}
header{
    /* display: flex; */
    background-color: var(--roxo);
    box-shadow: 0px 0px 30px black;
    width: 100%;
    height: 19vh;
}    
/*Cabeçalho*/
.nav-bar{
    display: flex;
    /* align-items: center; */
    flex-direction:column;
    padding: 1.5rem 5rem;
}
/*Parte superior do cabeçalho*/
.nav-superior{
    display: flex;
    align-items: center;
    justify-content:space-between;   
}
/*Parte infeior do cabeçalho*/
.nav-inferior{
    display: flex;
    align-self: center;
}
/*Logo*/
.logo{ 
    color: white;
    display: flex;
    align-items: center;
    font-size: 2rem;
    align-self: auto;
    margin-left: -15px;
}
/*Menu de navegação*/
.nav-list{
    display: flex;
    align-items: center;
    margin: 30px;
    /* gap: 2em; */
}
/*listas não ordenada do menu de navegação*/
.nav-link:hover{
    border-top: 2px solid var(--rosa-claro);
    padding-top: 15px;
}
/*Menu de navegação horizontal*/ 
.navigator{
   display: flex;
   justify-content: center;
   list-style: none; 
}
/*Itens do menu de navegação*/
.nav-item{
    margin: 0px 30px;
    cursor: pointer;
}
/*links do menu de navegação*/
.nav-link{
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: 400;
}
/*Execução de quando passar o mouse no menu de navegação*/

/*Botão de entrar*/
.btn-entrar button{
    border: none;
    background-color: #f2bb13;
    padding: 10px 40px;
    border-radius:20px; 
    cursor: pointer;  
}
/*Botão de cadatrar-se*/
.btn-cadastrar-se button{
    border: none;
    background-color: #f2bb13;
    padding: 10px 60px;
    border-radius:20px;
    cursor: pointer;
}
/*Botões do header*/
.btn-menu{
    display: flex;
    align-items: center;
    gap: 40px;
}
/*Link dos botões*/
.btn-link{
    text-decoration: none;
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: bold;
}
.btn-carrinho{
    cursor: pointer;
}
/*Caixa de pesquisar*/
.busca{
    display: flex;
    align-items: center;
    border: 1px solid #ccc ;
    background-color: #ccc;
    width: 500px;
    height: 30px;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
}
/*Texto da área de pesquisar*/
#txt-busca{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}
/*Tela responsiva para laptop e tablets maiores*/
@media screen and (max-width: 1260px) {
    .btn-cadastrar-se button{
    padding: 10px 20px; 
    }
    .busca{
        width: 400px;
    }
}
/*Tela responsiva para tablet*/
@media screen and (max-width: 1050px) {
    header{
        width: 100%;
        height: 12vh;    
    }
    .nav-inferior{
        display: none;
    }
    .busca{
        width: 200px;
    }
    .btn-cadastrar-se button{
        padding: 10px 20px;
    }
    .btn-entrar button{
        padding: 10px 15px;
    }
}
/*Tela resposiva para mobile*/
@media screen and (max-width: 768px) {
    .btn-cadastrar-se, .btn-entrar, .nav-inferior{ 
        display: none;
    }
    header{
        width: 100%;
        height: 12vh;
    }
    .nav-bar{
        display:flex;
        flex-direction: none;
        padding-top: 1.3em;
        
    }
    .nav-superior{
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
    }
    .logo{ 
        /* display: none; */
        color: white;
        display: flex;
        align-items: center;
        font-size: 2rem;
        align-self: auto; 
        margin-left:-65px;
    }
    .busca{
        display: flex;
        align-items: center;
        border: 1px solid #ccc ;
        background-color: #ccc;
        width: 200px;
        height: 20px;
        border-radius: 20px;
        padding: 5px 10px;
        color: #4b4b4b;
        margin:0px 0px;
    }
    /*Texto da área de pesquisar*/
    #txt-busca{
        padding: 8px;
        border: none;
        background-color: transparent;
        width: 100%;
        outline: none;
    }
    .img-carrinho{
        width: 20px;
        height: 20px;
    }
    .btn-carrinho{
        
    }
    /* .navigator{
        position: absolute;
        flex-direction: column;
        background-color: rgb(0, 0, 0, 0.75); 
        height: 100%;
    }
    .nav-link:hover{
        border-top: none;
        padding-top: none;
    }  */
}
/*Estilização da main*/
main{
    background-color:  #F6F4F0;
    /* background-color:  #f6e5c3; */
    min-width: 200px;
    max-width: 1250px;
    min-height: 1000px;
    margin: auto;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}  
/*Area da Main*/
#area-promocoes {
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* Tamanho da imagem */
.imagem-promocao {
    height: 170px;
}
/* espaçamento entre os produtos em promoção */
.produto-promocao{
    padding: 20px;
}
/* area das informacoes dos produtos */
.area-info-produtos {
    margin: 0;
    background: rgb(204, 204, 204);
    width: 193.97px;
    height: 110px;
    border-radius: 0 0 10px 10px;
    padding: 10px 13px;
}
/* formatacao das imagens dos produtos em promocao */
.img-promocao{
    border-radius: 10px 10px 0 0;
   width: 220px;
   height: 175px;
}
/* formatacao da area do titulo da empresa area de promocao */
.text-promocao {
    color: #747474;
    font-size: 9px;
    float: left;
    font-family: 'Open Sans', sans-serif;
}
/* Formatação do paragrado p de dataPromocao*/
.data-promocao p{
    float: right;
    padding: 0;
    margin: 4px;
    font-size: 13px;
}
/* Formataco do titulo da area de informacoes dos produtos */
.Titulo-Promocoes{
    float: left;
    font-size: 13px ;
    font-family: 'Merriweather', serif;
}
/* Formatacao do titulo da area de promocoes */
.Titulo-Promocoes p{
    color: black;
    margin: 0;
    text-transform: uppercase;
    width: 80%;
    font-weight: bold;
}
.preco-promocao{
    padding-top: 10px;
    float: left;
    width: 50%;
}
.Promocao-comprar{
    float: right;
    padding-top: 4px;   
}
#promocao-titulo{
    font-size: 40px;
    padding : 15px;
    margin: 0;
    text-align: center;
}
.Promocao-comprar button{
    margin-right: 1.1px;
    margin-top: 9px;
    width: 40px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(139, 226, 8);
    font-size: 18px;
}
/* Usei hover pra quando passar o mouse nos botoes mudar o fundo e o estilo do mouse */
.Promocao-comprar button:hover{
    background-color: aquamarine;
    cursor: pointer;
}
.Promocao-comprar button a{ 
    text-decoration: none;
}