@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/*Comando Geral*/
*{
    padding:0 ;
    margin: 0;
}
/*
#f2d16d amarelo-claro
#f2bb13 amarelo-escuro 
#442f72 roxo
#a56da6 lilas 
#f2c2dc rosa-claro
*/
/*Variaveis para cores e fonte*/
:root{
    --amarelo-claro:#f2d16d;
    --amarelo-escuro:#f2bb13;
    --roxo:#442f72;
    --lilas:#a56da6;
    --rosa-claro:#f2c2dc;

    --fonte-padrao: "Open Sans", sans-serif;
    --fonte-titulos: "Merriweather", serif;
    --fonte-logo: "Great Vibes", cursive;
}
body{
    background-image: url(../Imagens/BackgroundPrincipal.jpg);
    
    /* overflow-x: hidden!important; */
    
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding:  0 40px; */
    background-color: var(--roxo);
    box-shadow: 0px 0px 5px black;
    width: 100%;
    height: 150px;
    
}    
/*Cabeçalho*/
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:column;
    padding: 1.5rem 5rem;   
}
/*Parte superior do cabeçalho*/
.nav-superior{
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 25px;
    gap: 180px;
}
/*Linha do header*/
.linha-header{
    position: relative; 
    right: 150px;
    border-color:#cccccc66    ;
    width: 830px;
}
.content-mobile, .dark-mode-mobile,.linha-menu-mobile, .logar-entrar,.info-uteis{
    display: none;
}
/*Parte infeior do cabeçalho*/
.nav-inferior{
    margin-left: -183px !important;
    display: flex;
    align-self: center;
    justify-content: center;
}
/*Logo*/
.logo{
    width: 90px;
    align-self: center;
}
/*Link logo*/
.logo-header a { 
    display: flex;
    flex-direction: column;
    padding-right: 115px;
    text-decoration: none;
    /* margin-right: 80px; */
}
/*Texto da logo*/
.logo-header a h1{
    color: #fff;
    font-family: var(--fonte-logo);
    font-size: xx-large;
    font-weight: 100;
}
/*Menu de navegação*/
.nav-list{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 125px;

}
/*listas não ordenada do menu de navegação*/
.nav-link:hover{
    border-top: 2px solid var(--lilas);
    padding-top: 20.5px;
}
/*Menu de navegação horizontal*/ 
.navigator{
   display: flex;
   justify-content: center;
   list-style: none;
}
/*Itens do menu de navegação*/
.nav-item{
    margin: 0px 30px;
    cursor: pointer;
}
/*links do menu de navegação*/
.nav-link{
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: 400;
}
/*Execução de quando passar o mouse no menu de navegação*/

/*Botão de entrar*/
.btn-entrar button{
    border: none;
    background-color: #f2bb13;
    padding:6px 15px;
    border-radius:6px; 
    cursor: pointer;  
}
/*Botão de cadatrar-se*/
.btn-cadastrar-se button{
    border: none;
    background-color: #f2bb13;
    padding: 6px 15px;
    border-radius:6px;
    cursor: pointer;
}
/*Botões do header*/
.btn-menu{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: -150px; /*mover os botoes do header */
}
/*Link dos botões*/
.btn-link{
    text-decoration: none;
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: bold;
}
.btn-carrinho{
    cursor: pointer;
}
/*Caixa de pesquisar*/
.busca{
    display: flex;
    /* align-items: center; */
    border: 1px solid #ccc ;
    background-color: #ccc;
    width: 400px;
    height: 25px;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
}
/*Texto da área de pesquisar*/
#txt-busca{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}
/*Modo escuro*/
.label{
    background-color: #403E3B;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    margin: 0px;
    padding: 5px;
    height: 13px;
    width: 38px;
}
.label .ball{
    background-color: white;
    border-radius: 50%;
    position:absolute;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.checkbox{
    opacity: 0;
    position:absolute;
}
.checkbox:checked + .label .ball{
    transform: translateX(25px);
}
.fa-moon{
    color: #f1c407;
}
.fa-sun{
    color: var(--color-review);
}
.dark-theme{
   background: url(../Imagens/backgroundark.png);
   
}
/* .dark-theme main{
   background-color: #3e3d41;
} */
.dark-theme .titulos{
    color: white;
}

/*Icone do menu hamburguer animado*/
.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 25px;
    height: 2.5px;
    background: #ccc;
    margin: 6px;
    transition: 0.3s;
}
@media screen and (max-width: 768px) {
    .content-desktop, .btn-sla,.linha-header, .texto-logo, .btn-cadastrar-se, .btn-entrar{ 
        display: none !important;
    }
    .content-mobile, .linha-menu-mobile, .logar-entrar,.info-uteis{
        display: block;
    }
    header{
        display: flex;
        align-items: center;
        width: 100%;
        height: 15vh;
        padding: 0px 10px;
        display: flex;
        align-items:  normal;
        justify-content:space-between;
        justify-content: center;
        overflow: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .logo-header{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
    .nav-superior{
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        
    }
    .logo-header a{
        padding: 0;
    }
    .logo{
        width: 60px;
    }
    .btn-menu{
        margin: 0px 20px;
        display: flex;
        align-items: center;
    }
    .navigator{
        /* display: none; */
        position: absolute;
        top: 15vh;
        right: 0px;
        width: 50vw;
        height: 75vh;
        background: var(--roxo);  
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        z-index: 1;
        transform: translate(100%);
        transition: transform 0.3s ease-in;
        overflow: hidden;
    }
    .nav-link:hover{
        border-top:none;
    }  
    .logar-entrar{
        display: flex !important;
        /* height: 0px;
        margin-top: 10px;
        margin-bottom: 25px; */
        gap: 45px;
    }
    .linha-menu-mobile{
        width: 100%;
        border-color: rgba(30, 91, 93, 0.262);
    }
    .nav-item{
        margin: 20px 20px;
    }
    .dark-mode-mobile{
        display: block;
    
        margin: 15px;
    }
    .nav-bar{
        padding: 24px 0px;
    }
    .busca{
        width: 100%;
        height: 20px;
        /* margin: 0px 10px; */
    }
    
    .navigator li{
        margin-right: 0;
    }
    .mobile-menu{
        display: block;
        margin-bottom: 2px;
    }
    .main{
        /* width: 100%; */
    /* min-width: 200; */
    height: auto;
    /* background-color: #ccc; */
    /* border:1px solid white; */
    /* color: white; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-top: 30px;
    padding:  30px 30px;
    }
    .main:first-child{
        display: flex;
        align-items: center;
    }
    .page-title{
        font-size: 20px !important;
        margin-top: -35px !important;
       
    }
    .preco{
        margin-top: 15px;
    }
    aside{
        width: 100%;
        padding-top: 30px !important;
        margin-left: 0px !important;
        border-radius: 10px !important;
    }
    .header{
        border-top-left-radius:10px ;
    }
    aside > button{
        width: 90.3% !important;
        /* border-radius: 5px; */
    }
    .slider-content{
        min-height: 30vh !important;
    }
    .area-produtos-categoria{
        flex-direction: column;
        /* height: 0px !important; */
        gap: 50px;
    }
    .top-footer{
        flex-direction: column;
    }
    .font-newsletter{
       margin: 0px !important;
       margin-bottom: 5px !important;
    }
    .info-footer{
        flex-direction: column;
        align-items: center;
    }
    .menu-itens-superior{
        gap: 50px !important;
    }
    .btn-carrinho{
        /* width: 30px !important; */
    }  
}
/*Ativação do menu hamburguer*/
.navigator.active {
    transform: translateX(0);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}
/*Animação menu hamburguer*/
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-7px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-4px, -6px);
}
#main-header{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width:400px ;
    height: 80px;
    margin: auto;
    text-align:center;
    align-content:center;
    margin-top: 60px;
    font-family:'Maison Neue Bolt';
    /* font-style: normal; */
    /* font-weight: 700; */
    /* line-height: 41px; */
    font-size: 16.6px ; 
    border-radius:3px;
}
main{
    background-color:  #F6F4F0;
    min-width: 200px;
    max-width: 1350px;
    min-height: 400px;
    margin: auto; 
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.418);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* padding-bottom: 30px; */
    margin-bottom: 100px;
    padding-top: 20px;
    margin-top: 50px;
}  
.main{
    /* width: 100%; */
    /* min-width: 200; */
    /* height: auto; */
    /* background-color: #ccc; */
    /* border:1px solid white; */
    /* color: white; */
    /* margin: auto; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* border-radius: 10px; */
    /* padding-top: 30px; */
    padding:  30px 30px;


}
button{
    cursor: pointer;
}
/*Tutulo carrinho*/
.page-title{
    font-size: 40px;
    padding: 50px 0;
    text-align: center;
}
/*Conteudo do carrinho*/
.content-desktop{
    display: flex; 
}
.content-desktop section{
    flex: 1;
}
.content-desktop aside{
    min-width: 250px;
}

/*Tabela carrinho*/
table{
    width: 100%;
    /* min-width: 100px; */
    border-collapse: collapse;
}
table thead tr{
    border-bottom: 3px solid #ccc;
}
table thead tr th{
    text-align: left;
    padding: 10px;
    text-transform: uppercase;
    color: #666;

}
/*Linhas da tabela*/
table tbody tr{
    border-bottom:3px solid #ccc ;
    &:last-child{
        border:0;
    }

}
/*Conteudo da tabela*/
table tbody tr td {
    padding: 30px 0;
}
.produto-carrinho{
    display: flex;
    align-items: center;   
}
.produto-carrinho img{
    border-radius: 6px;
}
.produto-carrinho .info{
    margin-left: 20px;
}
.produto-carrinho .info .categoria{
    /* color: #666; */
}
.produto-carrinho .info .nome{
    font: size 20px;
    margin-bottom: 10px;
}
/*Botão de remover*/
.remove{
    background-color: #eee;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    &:hover{
        background-color: #ddd;
    }
}   
.quantidade{
    background:#eee ;
    display: inline-flex;
    padding: 0 0;
    justify-content: space-around;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
}
.quantidade button{
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 20px;
    height: 100%;

    &:hover{
        background-color: #ddd;
    }
}
.quantidade span{
    margin:0 10px ;
}
aside{
    margin-left:30px ;
}
/*Caixa resumo compra*/
aside .box{
    margin: 15px;
    border: 1px solid #ccc;
    background: #ddd;
    border-radius: 5px;
}
aside .box .header{
    text-align: center;
    padding: 15px 20px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}
aside .box .info{
    padding: 20px;
    font-size: 16px;
}
aside .box .info > div{
   display: flex;
   justify-content: space-between; 
   margin-bottom:10px ;
   &:last-child{
    margin: 0;
   }
}
/*Adicionar desconto*/
aside .box .info button{
    color: green;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
}
aside .box .info i {
    font-size: 18px;
}
/*Total valor */
aside .box .footer{
    padding: 15px 20px;
    padding: 20px;
    background: #ccc;
    font-size: 18px;
    text-align: center;
}
/*Botão finalizar compra*/
aside > button{
    border: 0;
    padding: 15px 0;
    color: white;
    background: green;
    display: block;
    width:90%;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 15px;
    font-size: 16px;
    border-radius: 5px;
}  
/* area do footer */
:root{
    /* --------- CORES --------- */
     --color-neutral: black;
     --color-font-newsletter: #8888;
     --color-neutral-10: #ffff;
     --color-top-footer: #f6f6f6;
     --color-neutral-20: #d9d9d9;
     --color-body: #F9FBFF;
 }
 .top-footer{
     align-items: center;
     background: #747474;
     display: flex;
     /* flex-direction: row; */
     /* gap: 10rem; */
     justify-content: center;
     padding: 0.5rem;
 }
 
 .font-newsletter{
     color: white;
     font-size: 15px;
     margin-right:150px;
 }
 
 .newsLetter{
     background: var(--color-neutral-20);
     border-radius: 6px;
     border: none;
     color: var(--color-neutral);
     padding: 0.4rem;
 }
 .btn-form{
     background-color: var(--color-neutral);
     border: none;
     border-radius: 6px;
     color: white;
     cursor: pointer;
     display: inline-block;
     font-size: 15px;
     padding: 0.4rem;
     text-decoration: none;
 }

 /* ------------- INFORMAÇÕES DO SITE -------------  */
 ul{
     list-style: none;
 }
 
 .info-footer{
     background: #442f72;
      display: flex;
     /* flex-direction: row; */
     justify-content: space-around;
     gap: 5rem;
     padding: 2rem 0 3rem;
     width: 100%; 
     color: #ccc;
 }
 
 .info-menu{
     color: #aca8a8;
     margin-top: 5%;
 }
 .menu-itens-superior{
    display: flex;
    gap: 200px;
 }
 
 .info-menu:hover{
     cursor: pointer;
     text-decoration: underline;
 }
 
 .info-menu li{
     font-size: 1.5rem;
     margin-top: 5%;   
 }
 
 .payment-methods{
     display: flex;
     flex-wrap:wrap;
     gap: 1rem;
     margin-top: 4%;
 }
 .info-cards:hover{
     cursor: pointer;
 }
 
 
 #cards{
     width:4rem;
 }
 
 #pix{
     width: 2rem;
     height: 2rem;
 }
 #boleto{
     width: 2rem;
     height: 2rem;
 }
 #mastercard{
     width: 2.3rem;
     margin-top: 4%;
 }
 .footer-bottom{
     
     background: #747474;
     text-align: center;
     padding: 0.5rem;
}
