@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/*Comando Geral*/
*{
    padding:0 ;
    margin: 0;
}
/*
#f2d16d amarelo-claro
#f2bb13 amarelo-escuro 
#442f72 roxo
#a56da6 lilas 
#f2c2dc rosa-claro
*/
/*Variaveis para cores e fonte*/
:root{
    --amarelo-claro:#f2d16d;
    --amarelo-escuro:#f2bb13;
    --roxo:#442f72;
    --lilas:#a56da6;
    --rosa-claro:#f2c2dc;

    --fonte-padrao: "Open Sans", sans-serif;
    --fonte-titulos: "Merriweather", serif;
    --fonte-logo: "Great Vibes", cursive;
}
body{
    background-color:white;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  0 40px ;
    background-color: var(--roxo);
    box-shadow: 0px 0px 5px black;
    /* width: 100%; */
    height: 150px;
}    
/*Cabeçalho*/
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:column;
    padding: 1.5rem 5rem;   
}
/*Parte superior do cabeçalho*/
.nav-superior{
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 25px;
    /* padding-right:200px; */
    gap: 180px;
}
hr{
    position: relative; 
    right: 150px;
    border-color:#cccccc66    ;
    width: 830px;
}
/*Parte infeior do cabeçalho*/
.nav-inferior{
    margin-left: -183px !important;
    display: flex;
    align-self: center;
    justify-content: center;
}
/*Logo*/
.logo{
    width: 90px;
    align-self: center;
}
.logo-header a { 
    display: flex;
    flex-direction: column;
    padding-right: 115px;
    text-decoration: none;
    /* margin-right: 80px; */
}
.logo-header a h1{
    color: #fff;
    font-family: var(--fonte-logo);
    font-size: xx-large;
    font-weight: 100;
}
/*Menu de navegação*/
.nav-list{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 125px;
}
/*listas não ordenada do menu de navegação*/
.nav-link:hover{
    border-top: 2px solid var(--lilas);
    padding-top: 20.5px;
}
/*Menu de navegação horizontal*/ 
.navigator{
   display: flex;
   justify-content: center;
   list-style: none; 
}
/*Itens do menu de navegação*/
.nav-item{
    margin: 0px 30px;
    cursor: pointer;
}
/*links do menu de navegação*/
.nav-link{
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: 400;
}
/*Execução de quando passar o mouse no menu de navegação*/

/*Botão de entrar*/
.btn-entrar button{
    border: none;
    background-color: #f2bb13;
    padding:6px 15px;
    border-radius:6px; 
    cursor: pointer;  
}
/*Botão de cadatrar-se*/
.btn-cadastrar-se button{
    border: none;
    background-color: #f2bb13;
    padding: 6px 15px;
    border-radius:6px;
    cursor: pointer;
}
/*Botões do header*/
.btn-menu{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: -150px; /*mover os botoes do header */
}
/*Link dos botões*/
.btn-link{
    text-decoration: none;
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: bold;
}
.btn-carrinho{
    cursor: pointer;
}
/*Caixa de pesquisar*/
.busca{
    display: flex;
    align-items: center;
    border: 1px solid #ccc ;
    background-color: white;
    width: 400px;
    height: 25px;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
}
/*Texto da área de pesquisar*/
#txt-busca{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

#main-header{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width:400px ;
    height: 80px;
    margin: auto;
    text-align:center;
    align-content:center;
    margin-top: 60px;
    font-family:'Maison Neue Bolt';
    /* font-style: normal; */
    /* font-weight: 700; */
    /* line-height: 41px; */
    font-size: 16.6px ; 
    border-radius:3px;
}
/* Inicio da area da Main */

main{
    padding: 10px;
    width: 80%;
    margin: 20px auto;
    height: 1200px;
    background: #f6f4f0;
}
aside{
    float: right;
    width: 37%;
    
    
}
#area-promocoes{
    height: 330px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.area-info-produtos {
    margin: 0;
    background: rgb(204, 204, 204);
    width: 193.97px;
    height: 110px;
    border-radius: 0 0 10px 10px;
    padding: 10px 13px;
}
.img-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3px;
}
#Imagem-produto{
   
    width: 60%;
    height: 700px;
    float: left;
    border: 1px;
    display: flex;
    justify-content: center;
    padding: 3px;
    
    
}

/* formatacao do 1 container */
#conteudo1{
    border: 1px solid rgb(179, 179, 179);
    background:  #fff;
    border-radius: 5px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

#conteudo1 h2{
    padding-left: 10px;
}



/* formatacao da area do titulo da empresa area de promocao */

/* Formatação do paragrado p de dataPromocao*/
.data-promocao p{
    float: right;
    padding: 0;
    margin: 4px;
    font-size: 13px;
}
/* Formataco do titulo da area de informacoes dos produtos */

/* Formatacao do titulo da area de promocoes */
.Titulo-Promocoes p{
    color: black;
    margin: 0;
    text-transform: uppercase;
    width: 80%;
    font-weight: bold;
}


/* alinhameno do valor do produto deixando ele pra a direita */
.preco-promocao{
    display: flex;
    float: right;
    width: 30%;
    padding-right: 20px;
    margin-top: 15px;
}

.Promocao-comprar button a{ 
    text-decoration: none;
}

/* Formatacao do titulo de entregas */
.entregas-texto{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 17px;
    height: 30pxpx;
}
/* formatacao do titulo de promoçoes */
.Titulo-Promocoes h1{
    font-size: 23px;
    font-family: 'Merriweather', serif;
    padding-left: 0px;
    float: left;
    border: none;
   
    width: 300px;
}

/* * formatacao do 2 container */ 
#conteudo2{
    border: 1px solid rgb(179, 179, 179);
    background:  #fff;
    border-radius: 5px;
    height: 150px;
    padding: 10px;
    margin-bottom: 45px;
}

.Endereço-painel{
    float: none;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.produto-endereço{
    background: #e2e3e3;
    border-radius: 19px;
    padding: 10px;
    height: 30px;
    font-weight: 600;
    font-size: 13px;
    color: #252525;
    margin-top: 10px;
    
}
.Endereço-painel a{
    text-decoration: none ;
    height: 20px;
    clear: both;
    display: flex;
    justify-items: center;
}

.Link-endereço a{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;
    color: green;
}
.Link-endereço a:hover{
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    
}


/* conteiner 3  */
#conteudo3{
    border: 1px solid rgb(179, 179, 179);
    background:  #fff;
    border-radius: 5px;
    height: 150px;
    padding: 10px;
    margin-bottom: 40px;
}
.Descricao-produto{
    width: 80%;
    margin: 0 auto;
}
.Descricao-produto{
    text-align: center;
}


/* conteudo 4 formatacao */
#conteudo4{
    width: 100%;
    
}
.Promocao-comprar button{
    margin-right: 1.1px;
    margin-top: 9px;
    width: 40px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    font-size: 18px;
}
/* Usei hover pra quando passar o mouse nos botoes mudar o fundo e o estilo do mouse */
.Promocao-comprar button:hover{
    background-color: rgb(186, 186, 186);
    cursor: pointer;
}
.botao-comprar{
    
    width: 100%;
    height: 52px;
    color: #fff;
    background: #71c042;
    border: none;
    font-size: 16px;
    border-radius: 25px;
    margin-bottom: 10px;
}
.botao-carrinho{
    float: right;
    width: 100%;
    height: 52px;
    color: #fff;
    background: #959694;
    border: none;
    font-size: 16px;
    border-radius: 33px;
    
}
.botao-comprar:hover{
    
    width: 100%;
    height: 52px;
    color: #050505;
    background: #549414;
    border: none;
    font-size: 16px;
    border-radius: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}
.botao-carrinho:hover{
    float: right;
    width: 100%;
    height: 52px;
    color: #000000;
    background: #b8b9b7;
    border: none;
    font-size: 16px;
    border-radius: 33px;
    cursor: pointer;
    
}


/* area da main */
main h1{
    clear: both;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    border-bottom: 1px solid gray;
}
.imagem-promocao a{
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    width: 220px;
    height: 175px;
    display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.imagem-promocao:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.imagem-promocao a .img-promocao{
    border-radius: 10px 10px 0 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
 }

#area-promocoes {
    height: 330px;
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-wrap: no-wrap;
    justify-content: space-between;
}
.area-info-produtos {
    margin: 0;
    background: rgb(204, 204, 204);
    width: 193.97px;
    height: 110px;
    border-radius: 0 0 10px 10px;
    padding: 10px 13px;
}
.text-promocao {
    color: #747474;
    font-size: 9px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2px;
}
/* Formatação do paragrado p de dataPromocao*/
.data-promocao p{
    float: right;
    padding: 0;
    padding-bottom: 4px;
    font-size: 13px;
}
.Titulo-Promocoes{
    float: left;
    font-size: 13px ;
    font-family: 'Merriweather', serif;
}
/* Formatacao do titulo da area de promocoes */
.Titulo-Promocoes p{
    color: black;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.preco-promocao{

    float: left;
    width: 30%;
}
.preco-promocao small{

   padding: 3px;
    
}
.Promocao-comprar{
    
    float: right;
}

/* area do footer */
:root{
    /* --------- CORES --------- */
     --color-neutral: black;
     --color-font-newsletter: #8888;
     --color-neutral-10: #ffff;
     --color-top-footer: #f6f6f6;
     --color-neutral-20: #d9d9d9;
     --color-body: #F9FBFF;
 
 
 }
 
 

 .top-footer{
     align-items: center;
     background: #747474;
     display: flex;
     /* flex-direction: row; */
     /* gap: 10rem; */
     justify-content: center;
     padding: 0.5rem;
 }
 
 .font-newsletter{
     color: white;
     font-size: 15px;
     margin-right:150px;
 }
 
 .newsLetter{
     background: var(--color-neutral-20);
     border-radius: 6px;
     border: none;
     color: var(--color-neutral);
     padding: 0.4rem;
 }
 
 .btn-form{
     background-color: var(--color-neutral);
     border: none;
     border-radius: 6px;
     color: white;
     cursor: pointer;
     display: inline-block;
     font-size: 15px;
     padding: 0.4rem;
     text-decoration: none;
 }
 
 /* ------------- INFORMAÇÕES DO SITE -------------  */
 ul{
     list-style: none;
 }
 
 .info-footer{
     background: #442f72;
      display: flex;
     /* flex-direction: row; */
     justify-content: space-around;
     gap: 5rem;
     padding: 2rem 0 3rem;
     width: 100%; 
     color: #ccc;
 }
 
 .info-menu{
     color: #aca8a8;
     margin-top: 5%;
 }
 .menu-itens-superior{
    display: flex;
    gap: 200px;
 }
 
 .info-menu:hover{
     cursor: pointer;
     text-decoration: underline;
 }
 
 .info-menu li{
     font-size: 1.5rem;
     margin-top: 5%;
     
     
 }
 
 .payment-methods{
     display: flex;
     flex-wrap:wrap;
     gap: 1rem;
     margin-top: 4%;
 }
 .info-cards:hover{
     cursor: pointer;
 }
 
 
 #cards{
     width:4rem;
 }
 
 #pix{
     width: 2rem;
     height: 2rem;
 }
 #boleto{
     width: 2rem;
     height: 2rem;
 }
 #mastercard{
     width: 2.3rem;
     margin-top: 4%;
 }
 

 .footer-bottom{
     
     background: #747474;
     text-align: center;
     padding: 0.5rem;
 }
